/*-----FONTS-----*/
$logo: 20px;
$title-h2: 60px;
$title-h3: 25px;
$input-field: 17px;
$text: 18px;
$content-text1: 50px;
$content-text2: 40px;
$content-text3: 20px;
$content-text5: 15px;

$heading2-mobile: 30px;

/*-----COLORS-----*/
$main-color: #fe9e0d;
$left-container: #fff;
$right-container-h2: #4c4c4c;
$right-container-h3: #828282;
$input-fields: #acacac;
$input-fields-border: #d7d7d7;
$ctexts: #8d8d8d;
$background-alert: #f2dede;
$color-alert: #a94442;