:root {
    /* COLORS */
    --main-color: #fe9e0d;
    --orange2-color: #e48f0f;
    --orange3-color: #c27500;
  
    --title-color: #4c4c4c;
    --title2-color: #6a6a6a;
  
    --card1-color: #505050;
  
    --white-color: #fff;
    --white2-color: #ccc;
  
    --neutralgrey-color: #f2f2f2;
    --grey2-color: #333;
  
    /* FONTS */
    --logo: 30px;
    --navbar: 17px;
  
    --primary-heading: clamp(24px, 5vw, 64px);
    --second-heading: clamp(1rem, 3vw, 1.5rem);
  
    --orange-heading: 25px;
    --second2-heading: clamp(12px, 5vw, 52px);
  
    --buttons: 1.1rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira Condensed", sans-serif;
  }
  
  body {
    height: auto;
    width: 85vw;
    background-color: var(--white-color);
    max-width: 100%;
    overflow-x: hidden;
    margin: 0rem auto;
  }
  
  /*section {
        padding: 50px 5%;
      }*/
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /* HEADER */
  header {
    position: relative;
    padding: 0 2rem;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  
  .navbar .logo {
    font-size: var(--logo);
    font-weight: 700;
    color: var(--main-color);
    line-height: 30px;
  }
  
  .navbar .links {
    display: flex;
    gap: 2rem;
  }
  
  .navbar .links li a {
    text-decoration: none;
    color: var(--title-color);
    font-size: var(--navbar);
    font-weight: 600;
  }
  
  .navbar .links li a:hover {
    color: var(--main-color);
  }
  
  .navbar .toggle_btn {
    color: var(--main-color);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  /*Navbar links*/
  .links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .links li {
    display: inline-block;
    position: relative;
  }
  
  .links li ul.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: var(--white-color); /* Cor de fundo */
    border: 1px solid var(--white2-color); /* Borda */
    padding: 10px;
    min-width: 150px; /* Largura mínima */
  }
  
  .links li:hover ul.dropdown {
    display: block;
  }
  
  .links li ul.dropdown li {
    display: block;
  }
  
  .links li ul.dropdown li a {
    color: var(--grey2-color); /* Cor do texto */
    text-decoration: none;
    display: block;
    padding: 5px;
  }
  
  .links li ul.dropdown li a:hover {
    background-color: var(
      --neutralgrey-color
    ); /* Cor de fundo ao passar o mouse */
  }
  
  /*------------------Navbar perfil------------------*/
  
  .dropdown-container {
    display: flex;
    align-items: center; /* Alinha verticalmente os elementos */
  }
  
  .profile-dropdown {
    position: relative;
  }
  
  .dropdown-p {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: var(--white-color);
    border: 1px solid var(--white2-color);
    padding: 10px;
    min-width: 150px;
  }
  
  .profile-dropdown:hover .dropdown-p {
    display: block;
  }
  
  .dropdown-p li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-p li a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: var(--grey2-color);
  }
  
  .dropdown-p li a:hover {
    background-color: var(--neutralgrey-color);
  }
  
  .btn {
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 8px 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  .btn:hover {
    scale: 1.05;
    color: var(--white-color);
  }
  
  .img-profile.rounded-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
  }
  
  /*------------------DROPDOWN MENU------------------*/
  .dropdown_menu {
    display: none;
    position: fixed;
    right: 2rem;
    top: 90px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
  }
  
  .dropdown_menu.open {
    overflow: auto;
  }
  
  .dropdown_menu li {
    padding: 0.7rem;
    text-align: center;
  }
  
  .dropdown_menu li a {
    text-decoration: none;
    color: var(--title-color);
    font-size: var(--navbar);
    font-weight: 600;
  }
  
  .dropdown_menu li a:hover {
    color: var(--title-color);
  }
  
  .dropdown_menu ul.dropdown li {
    text-align: center; /* Adicionado para centralizar os elementos do submenu */
  }
  
  .dropdown_menu ul.dropdown li a {
    font-size: 13px; /* Adicionado para centralizar os elementos do submenu */
  }
  
  .dropdown_menu ul.dropdown li a:hover {
    color: var(
      --white-color
    ); /* Adicionado para centralizar os elementos do submenu */
  }
  
  .dropdown_menu .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--white-color);
  }
  
  .dropdown {
    display: none;
  }
  
  .dropdown.is-active {
    display: block;
  }
  
  /*----------------FOOTER------------------------*/
  
  footer {
    width: 100%;
    /*position: absolute;*/
    background-color: var(--main-color);
    color: var(--white-color);
    margin-top: 100px;
    padding: 30px 0 30px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .footer-row {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .footer-col {
    /*flex-basis: 10%;*/
    padding: 10px;
  }
  
  .footer-col h1 {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  
  .footer-col p {
    font-size: 20px;
  }
  
  .footer-col h3 {
    font-size: 22px;
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
  }
  
  .footer-col ul li {
    list-style: none;
    margin-bottom: 12px;
  }
  
  .footer-col ul a {
    font-size: 18px;
    text-decoration: none;
    color: var(--white-color);
  }
  
  hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid var(--white2-color);
    margin: 20px auto;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
  }
  
  .footer-links .copyright {
    width: 90%;
    margin: 20px auto;
  }
  
  .footer-links-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    width: 95%;
  }
  
  .footer-links-2 a {
    font-size: 18px;
    color: var(--white-color);
  }
  
  .vertical-hr {
    border-left: 2px solid var(--white-color);
    height: 15px;
    margin: 6px 0;
  }
  
/*Scroll to top*/

#scrollToTopBtn {
  display: none; /* Ocultar inicialmente */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollToTopBtn:hover {
  background-color: var(--orange3-color);
}
  
  .change {
    width: 60px;
    height: 20px;
    position: relative;
    display: block;
    background: var(--main-color);
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
    animation: bounceIn 5s;
  }
  
  .change:active::after {
    width: 30px;
  }
  .change::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    background: linear-gradient(100deg, orange, var(--white-color));
    border-radius: 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
  }
  input:checked + .change {
    background: #ad9883;
  }
  
  input:checked + .change::after {
    left: 60px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, rgb(110, 110, 110), var(--white-color));
  }
  
  .dropdown-trigger-f .fas.fa-globe {
    margin-right: 10px;
  }
  
  .dropdown-f {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid var(--white2-color);
    padding: 5px;
    margin-left: 20px;
  }
  
  .dropdown-f li a {
    color: black;
    font-size: 15px;
  }
  
  .dropdown-trigger-f:hover .dropdown-f {
    display: block;
  }
  
  /*--------------Navbar hrefs---------------------------*/
  
  ol {
    list-style-type: none; /* Remove os marcadores da lista */
    margin: 100px 100px 30px 100px;
    padding: 0;
  }
  
  .list {
    display: inline-block; /* Exibe os itens da lista em linha */
  }
  
  .items {
    display: flex;
    align-items: center;
    color: #8a8a8a;
    overflow: hidden;
  }
  
  .items a {
    color: #8a8a8a;
  }
  
  .items-current {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  /* Estilizando o separador '/' */
  li:not(:last-child) .separator {
    margin-right: 30px;
    margin-left: 30px;
  }
  
  /* Estilizando o link atual */
  .items-current span[aria-current="page"] {
    font-weight: bold;
    color: #232323;
  }
  
  /*------------------QUIZZES------------------*/
  
  .quizzes-banner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
  }
  
  .quizzes-text-section {
    flex: 1;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .fontes {
    width: 100%;
    background-color: var(--white-color);
    cursor: default;
    flex: 1;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .fontes-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
  }
  
  .fontes-content h3 {
    color: #B13E3E;
    font-size: 1.3rem;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .fontes-content2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
  }
  
  .fontes-content2 p {
    color: black;
    padding: 20px 0px 0px 25px;
    line-height: 1.6;
    font-size: 1rem;
  }
  
  .fontes.active .fontes-content2 {
    max-height: 300px;
  }
  
  .fontes.active svg {
    transform: rotate(180deg);
  }
  
  svg {
    /*transition: transform 0.5s ease-in;*/
    fill: #B13E3E;
    cursor: pointer;
  }
  
  .svg-down {
    display: none; /* Inicialmente, esconde o SVG para baixo */
  }
  
  .fontes.active .svg-up {
    display: none; /* Esconde o SVG para cima quando o conteúdo está ativo */
  }
  
  .fontes.active .svg-down {
    display: inline-block; /* Mostra o SVG para baixo quando o conteúdo está ativo */
  }
  
  /*---*/
  
  .card {
    border: none;
    /*margin-bottom: 50px;*/
    width: 100%; /* Adicionando largura de 100% */
  }
  
  .card-body {
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%; /* Adicionando largura de 100% */
    max-width: none; /* Removendo a limitação de largura máxima */
    border-left: 5px solid orange;
  }
  
  .card-title {
    color: var(--card1-color);
    font-size: 40px;
    font-weight: 600;
    margin-left: 15px;
    flex: 1;
    width: 100%; /* Adicionando largura de 100% */
  }
  
  .card-title2 {
    color: var(--card1-color);
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 15px;
    flex: 1;
    width: 100%; /* Adicionando largura de 100% */
  }
  
  .card-body p {
    margin-top: 15px;
    margin-left: 15px;
    text-align: justify;
    line-height: 2;
  }
  
  .disclaimer {
    text-align: center;
    font-size: 15px;
    /*margin-top: 100px;*/
    color: var(--card1-color);
  }
  
  .disclaimer2 {
    text-align: center;
    font-size: 15px;
    /*margin-top: 100px;*/
    color: var(--card1-color);
  }
  
  .card-body2 {
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%; /* Adicionando largura de 100% */
    max-width: none; /* Removendo a limitação de largura máxima */
  }
  
  .card-body3 {
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%; /* Adicionando largura de 100% */
    max-width: none; /* Removendo a limitação de largura máxima */
    border-right: 5px solid orange;
    border-bottom: 5px solid orange;
  }

  .quiz-container {
    /*background-color: #fff; /*descomentar*/
    border-radius: 10px;
    /*box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1); /*descomentar*/
    width: 600px;
    overflow: hidden;
  }
  .quiz-header {
    padding: 2rem;
  }
  #question {
    padding: 1rem;
    text-align: center;
    margin: 20px 0 0 0;
    color: var(--card1-color);
  }
  .ul-question {
    list-style-type: none;
    padding-left: 2rem;
  }
  .ul-question .li-question {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  .ul-question .li-question label {
    cursor: pointer;
  }
  .button-quiz {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 0.5rem;
  }
  .button-quiz:hover {
    background-color: var(--orange2-color);
  }
  .button-quiz:focus {
    outline: none;
    background-color: var(--main-color);
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Resultado quiz */
  .result-heading {
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
  }
  
  .quiz-heading {
    font-size: 25px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
  }
  
  .result-text {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 700;
  }
  
  .restart-btn {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 0.5rem;
  }
  
  .restart-btn:hover {
    background-color: var(--orange2-color);
  }
  
  /*---------------MEDIA QUERIES-------------------------*/
  
  /* Responsive */
  
  /* Tela igual ou inferior a 576px */
  @media screen and (max-width: 576px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }
  
  /* Tela igual ou inferior a 600px */
  @media screen and (max-width: 600px) {
  }
  
/* Tela igual ou inferior a 768 */
@media screen and (max-width: 768px) {
  ol {
    margin-left: 15px;
    margin-right: 10px;
  }

  .quizzes-banner-container {
    flex-direction: column;
  }

  .quizzes-text-section {
    padding-right: 20px;
    padding-left: 0;
    text-align: center;
    margin-top: 40px;
  }

  .card {
    max-width: 100%;
  }

  .card-body {
    padding: 10px; /* Reduz o preenchimento */
    margin-left: 10px;
  }

  .card-body2 {
    padding: 10px; /* Reduz o preenchimento */
    margin-left: 10px;
  }

  .card-body3 {
    padding: 10px; /* Reduz o preenchimento */
    margin-left: 10px;
  }

  .card-title {
    font-size: 30px; /* Reduz o tamanho da fonte */
    text-align: left;
  }

  .card-title2 {
    font-size: 20px; /* Reduz o tamanho da fonte */
    margin-top: 20px; /* Reduz a margem superior */
    text-align: left;
  }

  .quiz-container {
    max-width: 100%;
  }

  .ul-question {
    text-align: left;
  }

  .result-heading {
    font-size: 25px;
  }

  .quiz-heading {
    font-size: 20px;
  }

  .result-text {
    font-size: 25px;
  }

  .quizzes-text-section h3, p {
    margin-left: 15px;
    text-align: left;
  }

  .fontes {
    padding: 0;
    margin-left: 15px;
    margin-right: 10px;
  }

  .fontes-content2 p {
    padding: 10px 0px 0px 0px;
  }

  /*Footer*/
  .footer-col {
    flex-basis: 100%;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-end;
    width: auto;
  }

  .footer-links-2 {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .vertical-hr {
    display: none;
  }
}
  
  /* Tela igual ou inferior a 992 */
  @media screen and (max-width: 992px) {
    .navbar .links,
    .navbar .btn {
      display: none;
    }
  
    .navbar .toggle_btn {
      display: block;
    }
  
    .dropdown_menu {
      display: block;
    }
  
    .dropdown-container {
      display: none;
    }
  }
  
  /* Tela igual ou superior a 1360 */
  @media screen and (min-width: 1360px) {
    .quizzes-text-section {
      margin-top: 40px;
    }
  
    .card-title {
      font-size: 40px;
    }
  }
  
  /* Tela igual ou superior a 1600 */
  @media screen and (min-width: 1600px) {
    .card-title {
      font-size: 25px;
    }
  }
  