@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/*Scroll bar*/

::-webkit-scrollbar {
  width: 0.70em;
}

::-webkit-scrollbar-thumb {
    background: hsl(41 100% 50% / 1);
    /*border: 0.25rem solid hsl(120 75% 50% / 1);*/
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(41 100% 35% / 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #df3b3b;
  --nav-title-color: #fff;
  --titletext-color: #1f1f1f;
  --text-color: #333232;
  --button-color: #c42828;
  --separator-color: #787575;
  --footer1-color: #1f1f1f;
  --footer2-color: #3e3d3d;
  --big-font: 90px;
  --big2-font: 60px;
  --h1-font: 45px;
  --h2-font: 35px;
  --h3-font: 30px;
  --p-font: 16px;

  --heading2: 60px;
  --heading3: 25px;

  --text: 18px;

  --heading2-mobile: 30px;
}

body,
input {
  font-family: "Lato", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.2s 0.7s;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/*display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;*/

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.logo {
  font-size: 20px;
  color: black;
  text-align: right;
  margin-top: 30px;
  margin-right: 50px;
  font-family: "Kode Mono", monospace;
}

.title {
  font-size: var(--heading2);
  color: #4c4c4c;
  margin-bottom: 10px;
  text-align: right;
  /*margin-left: 220px;*/
}

.title2 {
  font-size: var(--heading3);
  color: #828282;
  margin-bottom: 10px;
  text-align: right;
  margin-top: 20px;
  /*margin-left: 250px;*/
}

.input-field {
  max-width: 380px;
  width: 100%;
  border: 2px solid #d7d7d7;
  margin: 10px 0;
  height: 55px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: var(--text);
  color: #acacac;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: var(--text);
  text-align: center;
  color: #8d8d8d;
  margin: 10px 0 10px 0;
}

.social-text2 {
  padding: 0.7rem 0;
  font-size: var(--text);
  text-align: center;
  color: #8d8d8d;
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.text-a {
  text-decoration: none;
  color: #8d8d8d;
  text-align: right;
  margin-bottom: 25px;
  font-size: var(--text);
}

.btn {
  width: auto;
  background-color: #fe9e0d;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  font-size: var(--heading3);
}

.btn:hover {
  background-color: #ffffff;
  color: #fe9e0d;
  border: 2px solid #fe9e0d;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-color: #fe9e0d;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 95%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
  margin-top: 5px;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

/*.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}*/

.btn.transparent {
  margin: 0;
  background: none;
  background-color: #fe9e0d;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  align-self: center;
}

.btn.transparent:hover {
  background-color: #ffffff;
  color: #fe9e0d;
  border: 2px solid #fe9e0d;
}

.elem1.lp1 {
  position: relative;
  left: -700px;
  bottom: 800px;
}

.elem1.lp2 {
  position: relative;
  right: 250px;
  bottom: 900px;
}

.elem2.lp1 {
  position: relative;
  right: 150px;
  bottom: 900px;
}

.elem2.lp2 {
  position: relative;
  left: -400px;
  bottom: 700px;
}

.elem3.lp1 {
  position: relative;
  left: -600px;
  bottom: 780px;
}

.elem3.lp2 {
  position: relative;
  left: -200px;
  bottom: 780px;
}

.elem4.lp1 {
  position: relative;
  left: -500px;
  bottom: 650px;
}

.elem4.lp2 {
  position: relative;
  left: -750px;
  bottom: 450px;
}

.elem5.lp1 {
  position: relative;
  left: -100px;
  bottom: 760px;
}

.elem5.lp2 {
  position: relative;
  left: -750px;
  bottom: 800px;
}

.elem6.lp1 {
  position: relative;
  left: -300px;
  bottom: 840px;
}

.elem6.lp2 {
  position: relative;
  left: 50px;
  bottom: 1000px;
}

/*.btn.transparent2 {
  margin: 0;
  background: none;
  background-color: pink;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  align-self: center;
}

.btn.transparent3 {
  margin: 0;
  background: none;
  background-color: blue;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  align-self: center;
}*/

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.first-text {
  text-align: left;
  font-size: 50px;
}

.second-text {
  text-align: left;
  font-size: 40px;
}

.third-text {
  margin-top: 50px;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  font-weight: 400;
}

.fourth-text {
  margin-top: 40px;
  text-align: left;
  font-size: 20px;
}

.fifth-text {
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

@media (max-width: 870px) {
  .logo {
    font-size: 10px;
    margin: 100px 0 0 0;
  }

  .title {
    font-size: 35px;
  }

  .title2 {
    font-size: 13px;
  }

  .first-text {
    margin-left: 50px;
    margin-left: 100px;
    width: 400px;
  }

  .second-text {
    font-size: 30px;
    margin-left: 100px;
    width: 400px;
  }

  .third-text {
    font-size: 20px;
    margin-left: 100px;
    width: 400px;
  }

  .fourth-text {
    font-size: 20px;
    margin-left: 100px;
    width: 400px;
  }

  .fifth-text {
    font-size: 15px;
    margin-left: 100px;
    width: 400px;
  }

  .container {
    min-height: 800px;
    height: 100vh;
  }

  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    display: none;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  /*.panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }*/

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 1360px) {
  .logo {
    font-size: 15px;
  }
  .title {
    font-size: 50px;
  }
  .title2 {
    margin-top: 50px;
    font-size: 20px;
  }
  .input-field input {
    font-size: 15px;
  }
  .text-a {
    font-size: 15px;
  }
  .btn {
    font-size: 20px;
  }
  .social-text,
  .social-text2 {
    font-size: 15px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1361px) {
}
