:root {
  /* COLORS */
  --main-color: #fe9e0d;
  --orange2-color: #e48f0f;
  --orange3-color: #c27500;

  --title-color: #4c4c4c;
  --title2-color: #6a6a6a;
  --title3-color: #3b3b3b;

  --card1-color: #505050;

  --white-color: #fff;
  --white2-color: #ccc;

  --neutralgrey-color: #f2f2f2;
  --grey2-color: #333;

  --footer-text: #9e630a;

  /* FONTS */
  --logo: 30px;
  --navbar: 17px;

  --primary-heading: clamp(24px, 5vw, 64px);
  --second-heading: clamp(1rem, 3vw, 1.5rem);

  --orange-heading: 25px;
  --second2-heading: clamp(12px, 5vw, 52px);

  --buttons: 1.1rem;

  /* --- */

  --clr-light: #fff;
  --clr-dark: #C27500;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

.darkmode {
  --clr-light: #fff;
  --clr-dark: #C27500;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);


  --title-color: #fff;
  --title2-color: #fff;
  --title3-color: #3b3b3b;

  --grey2-color: #fff;

  --footer-text: #cbcbcb;

  /*--orange2-color: #e48f0f;*/
  --orange3-color: #7b6f5a;

  --main-color: #3C3C3C;
}

.dark-mode-toggle {
  z-index: 100;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  position: relative;
}

/*Texto sublinhado*/
.selection\:text-white ::selection {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.selection\:bg-orange-400 ::selection {
  --tw-bg-opacity: 1;
    background-color: rgb(251 146 60/var(--tw-bg-opacity))
}

/*Scroll bar*/

::-webkit-scrollbar {
  width: 0.70em;
}

::-webkit-scrollbar-thumb {
    background: hsl(41 100% 50% / 1);
    /*border: 0.25rem solid hsl(120 75% 50% / 1);*/
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(41 100% 35% / 1);
}

body.darkmode::-webkit-scrollbar-thumb {
  background: 	hsl(0, 0%, 24%); /* Background color of thumb */
  border-radius: 5px; /* Adjust border-radius as needed */
}

body.darkmode::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%); /* Hover background color */
}

/*Loading*/
.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--main-color);
  letter-spacing: 0.2em;
  transition: opacity 1.1s, visibility 1.1s;
}
.loader.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::before, .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: var(--main-color);
  position: absolute;
  animation: load 0.7s infinite alternate ease-in-out;
}
.loader::before {
  top: 0;
}
.loader::after {
  bottom: 0;
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 85vw;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0rem auto;

  background: var(--background);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background);
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  font-size: var(--logo);
  font-weight: 700;
  color: var(--main-color);
  line-height: 30px;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .links li a {
  text-decoration: none;
  color: var(--title-color);
  font-size: var(--navbar);
  font-weight: 600;
}

.navbar .dropdown-container ul li a:hover {
  color: var(--main-color);
}

.navbar .links li a:hover {
  color: var(--main-color);
}

.navbar .toggle_btn {
  color: var(--main-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/*Navbar links*/
.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  display: inline-block;
  position: relative;
}

.links li ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: var(--background);
  border: 1px solid var(--white2-color);
  padding: 10px;
  min-width: 150px;
}

.links li:hover ul.dropdown {
  display: block;
}

.links li ul.dropdown li {
  display: block;
}

.links li ul.dropdown li a {
  color: var(--grey2-color);
  text-decoration: none;
  display: block;
  padding: 5px;
}

.links li ul.dropdown li a:hover {
  background-color: var(--neutralgrey-color);
}


/*------------------Navbar perfil------------------*/
.dropdown-container {
  display: flex;
  align-items: center;
}

.profile-dropdown {
  position: relative;
}

.dropdown-p {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: var(--background);
  border: 1px solid var(--white2-color);
  padding: 10px;
  min-width: 150px;
}

.profile-dropdown:hover .dropdown-p {
  display: block;
}

.dropdown-p li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-p li a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: var(--grey2-color);
}

.dropdown-p li a:hover {
  background-color: var(--neutralgrey-color);
}

.btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 8px 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  scale: 1.05;
  color: var(--white-color);
}

.img-profile.rounded-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

/*------------------DROPDOWN MENU------------------*/
.dropdown_menu {
  display: none;
  position: fixed;
  right: 2rem;
  top: 90px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 999;
}

.dropdown_menu.open {
  overflow: auto;
}

.dropdown_menu li {
  padding: 0.7rem;
  text-align: center;
}

.dropdown_menu li a {
  text-decoration: none;
  color: var(--title-color);
  font-size: var(--navbar);
  font-weight: 600;
}

.dropdown_menu li a:hover {
  color: var(--title-color);
}

.dropdown_menu ul.dropdown li {
  text-align: center;
}

.dropdown_menu ul.dropdown li a {
  font-size: 15px;
}

.dropdown_menu ul.dropdown li a:hover {
  color: var(--white-color);
}

.dropdown_menu .btn {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--white-color);
}

.dropdown {
  display: none;
}

.dropdown.is-active {
  display: block;
}

.first-button {
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: var(--buttons);
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
  color: var(--main-color);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  text-decoration: none;
}

.first-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}



/*--------------Heading---------------------------*/
body.darkmode .background1 img,
body.darkmode .background2 img {
  filter: invert(1) brightness(150) hue-rotate(224deg);
}

.background1 {
  position: absolute;
  top: 280px;
  right: 0;
  z-index: -2;
}

.background2 {
  position: absolute;
  top: 250px;
  left: 0;
  z-index: -2;
}

.heading {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 25px;
  color: var(--title-color);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.heading h1 {
  font-family: "Libre Baskerville", sans-serif;
}



/*------------------Tipos Perturbações Mentais------------------*/
.perturbacoes-banner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.perturbacoes-primary-heading {
  font-size: var(--second2-heading);
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  gap: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  transition: opacity 1s ease;
  opacity: 0;
}

.card.card-entry {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card h1 {
  text-align: left;
  margin-top: 20px;
  color: var(--grey2-color);
  text-transform: uppercase;
  font-size: 27px;
}

.card p {
  text-align: left;
}


/*----------------FOOTER------------------------*/
footer {
  width: 100%;
  background-color: var(--main-color);
  color: var(--white-color);
  margin-top: 100px;
  padding: 30px 0 30px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer-row {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col {
  padding: 10px;
}

.footer-col ul:hover {
  text-decoration: underline;
}

.footer-col h1 {
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 20px;
}

.footer-col p {
  font-size: 20px;
}

.footer-col h3 {
  font-size: 22px;
  width: fit-content;
  margin-bottom: 10px;
  position: relative;
}

.footer-col ul li {
  list-style: none;
  margin-bottom: 12px;
}

.footer-col ul a {
  font-size: 18px;
  text-decoration: none;
  color: var(--white-color);
}

.footer-col ul li ul li {
  color: var(--footer-text);
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid var(--white2-color);
  margin: 20px auto;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
}

.footer-links .copyright {
  width: 90%;
  margin: 20px auto;
}

.footer-links-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  width: 95%;
}

.footer-links-2 a {
  font-size: 18px;
  color: var(--white-color);
}

.vertical-hr {
  border-left: 2px solid var(--white-color);
  height: 25px;
  margin: 6px 0;
}


/*Scroll to top*/
#scrollToTopBtn {
  display: none; /* Ocultar inicialmente */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollToTopBtn:hover {
  background-color: var(--orange3-color);
}

/*Dropdown-trigger*/
.dropdown-trigger-f .fas.fa-globe {
  margin-right: 10px;
}

.dropdown-f {
  display: none;
  position: absolute;
  background-color: var(--white-color);
  border: 1px solid var(--white2-color);
  padding: 5px;
  margin-left: 20px;
}

.dropdown-f li a {
  color: black;
  font-size: 15px;
}

.dropdown-trigger-f:hover .dropdown-f {
  display: block;
}


/*--------------Navbar hrefs---------------------------*/
ol {
  list-style-type: none;
  margin: 100px 100px 50px 100px;
  padding: 0;
}

.list {
  display: inline-block;
}

.items {
  display: flex;
  align-items: center;
  color: #8a8a8a;
  overflow: hidden;
}

.items-current {
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* Estilizando o separador '/' */
li:not(:last-child) .separator {
  margin-right: 30px;
  margin-left: 30px;
}

/* Estilizando o link atual */
.items-current span[aria-current="page"] {
  font-weight: bold;
  color: #232323;
}


/*---------------ANIMATIONS SCROLL-------------------------*/
.heading {
  opacity: 0;
  animation: fadeIn 1s linear forwards;
}


/*---------------ANIMATIONS-------------------------*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*---------------MEDIA QUERIES-------------------------*/
/* Tela igual ou inferior a 576px */
@media screen and (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* Tela igual ou inferior a 768 */
@media screen and (max-width: 768px) {
  ol {
    margin-left: 15px;
    margin-right: 10px;
  }

  .background1,
  .background2 {
    display: none;
  }

  .first-button {
    font-size: 1rem;
    cursor: pointer;
  }

  .heading {
    font-size: 20px;
    line-height: 1;
    margin: 10px 0 20px 15px;
    padding: 0;
  }
  
  .heading h1 {
    line-height: 1.2;
  }

  .perturbacoes-banner-container {
    width: auto;
    margin-top: 0;
  }

  .perturbacoes-primary-heading {
    font-size: 25px;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 0;
    margin-left: 0;
  }

  .card img {
    height: 150px;
  }

  .card h1 {
    font-size: 20px;
  }

  .card p {
    font-size: 15px;
  }

  
  /*Footer*/
  .footer-col {
    flex-basis: 100%;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-end;
    width: auto;
  }

  .footer-links-2 {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .footer-row {
    flex-wrap: wrap;
  }

  .vertical-hr {
    display: none;
  }
}

/* Tela igual ou inferior a 992 */
@media screen and (max-width: 992px) {
  .navbar .links,
  .navbar .btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .dropdown-container {
    display: none;
  }
}

/* Tela igual ou superior a 1600 */
@media screen and (min-width: 1600px) {

  /*OUTROS*/
  .perturbacoes-banner-container {
    margin-top: 50px;
  }

  .perturbacoes-primary-heading {
    font-size: clamp(12px, 5vw, 52px);
  }

  .card h1 {
    font-size: 27px;
  }
}
