:root {
  /* COLORS */
  --main-color: #fe9e0d;
  --orange2-color: #e48f0f;
  --orange3-color: #c27500;

  --title-color: #4c4c4c;
  --title2-color: #6a6a6a;
  --title3-color: #3b3b3b;

  --card1-color: #505050;

  --white-color: #fff;
  --white2-color: #ccc;

  --neutralgrey-color: #f2f2f2;
  --grey2-color: #333;

  --footer-text: #9e630a;

  --index-color: #8a8a8a;

  --card-color: #f0f0f0;
  --card-text-color: #3C3C3C;

  --fontes-color: #B13E3E;

  /* FONTS */
  --logo: 30px;
  --navbar: 17px;

  --primary-heading: clamp(24px, 5vw, 64px);
  --second-heading: clamp(1rem, 3vw, 1.5rem);

  --orange-heading: 25px;
  --second2-heading: clamp(12px, 5vw, 52px);

  --buttons: 1.1rem;

  /* --- */

  --clr-light: #fff;
  --clr-dark: #C27500;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

.darkmode {
  --clr-light: #fff;
  --clr-dark: #C27500;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);


  --title-color: #fff;
  --title2-color: #fff;
  --title3-color: #3b3b3b;

  --grey2-color: #fff;

  --footer-text: #cbcbcb;

  /*--orange2-color: #e48f0f;*/
  --orange3-color: #7b6f5a;

  --index-color: #fff;

  --card-color: #6f6d6d;
  --card-text-color: #fff;

  --fontes-color: #7f1c1c;

  --main-color: #3C3C3C;
}

.dark-mode-toggle {
  z-index: 100;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  position: relative;
}

/*Texto sublinhado*/
.selection\:text-white ::selection {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.selection\:bg-orange-400 ::selection {
  --tw-bg-opacity: 1;
    background-color: rgb(251 146 60/var(--tw-bg-opacity))
}

/*Scroll bar*/

::-webkit-scrollbar {
  width: 0.70em;
}

::-webkit-scrollbar-thumb {
    background: hsl(41 100% 50% / 1);
    /*border: 0.25rem solid hsl(120 75% 50% / 1);*/
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(41 100% 35% / 1);
}

body.darkmode::-webkit-scrollbar-thumb {
  background: 	hsl(0, 0%, 24%); /* Background color of thumb */
  border-radius: 5px; /* Adjust border-radius as needed */
}

body.darkmode::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%); /* Hover background color */
}


/*Tradução*/
button#langButtonEN,
button#langButtonPT {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/*Loading*/
.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--main-color);
  letter-spacing: 0.2em;
  transition: opacity 1.1s, visibility 1.1s;
}
.loader.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::before, .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: var(--main-color);
  position: absolute;
  animation: load 0.7s infinite alternate ease-in-out;
}
.loader::before {
  top: 0;
}
.loader::after {
  bottom: 0;
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 85vw;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0rem auto;

  background: var(--background);
}

/*section {
    padding: 50px 5%;
  }*/

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background);
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  font-size: var(--logo);
  font-weight: 700;
  color: var(--main-color);
  line-height: 30px;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .links li a {
  text-decoration: none;
  color: var(--title-color);
  font-size: var(--navbar);
  font-weight: 600;
}

.navbar .links li a:hover {
  color: var(--main-color);
}

.navbar .toggle_btn {
  color: var(--main-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .dropdown-container ul li a:hover {
  color: var(--main-color);
}

/*Navbar links*/
.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  display: inline-block;
  position: relative;
}

.links li ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: var(--background); /* Cor de fundo */
  border: 1px solid var(--white2-color); /* Borda */
  padding: 10px;
  min-width: 150px; /* Largura mínima */
}

.links li:hover ul.dropdown {
  display: block;
}

.links li ul.dropdown li {
  display: block;
}

.links li ul.dropdown li a {
  color: var(--grey2-color); /* Cor do texto */
  text-decoration: none;
  display: block;
  padding: 5px;
}

.links li ul.dropdown li a:hover {
  background-color: var(
    --neutralgrey-color
  ); /* Cor de fundo ao passar o mouse */
}

/*------------------Navbar perfil------------------*/

.dropdown-container {
  display: flex;
  align-items: center; /* Alinha verticalmente os elementos */
}

.profile-dropdown {
  position: relative;
}

.dropdown-p {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: var(--background);
  border: 1px solid var(--white2-color);
  padding: 10px;
  min-width: 150px;
}

.profile-dropdown:hover .dropdown-p {
  display: block;
}

.dropdown-p li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-p li a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: var(--grey2-color);
}

.dropdown-p li a:hover {
  background-color: var(--neutralgrey-color);
}

.btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 8px 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  scale: 1.05;
  color: var(--white-color);
}

.img-profile.rounded-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

/*------------------DROPDOWN MENU------------------*/
.dropdown_menu {
  display: none;
  position: fixed;
  right: 2rem;
  top: 90px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 999;
}

.dropdown_menu.open {
  overflow: auto;
}

.dropdown_menu li {
  padding: 0.7rem;
  text-align: center;
}

.dropdown_menu li a {
  text-decoration: none;
  color: var(--title-color);
  font-size: var(--navbar);
  font-weight: 600;
}

.dropdown_menu li a:hover {
  color: var(--title-color);
}

.dropdown_menu ul.dropdown li {
  text-align: center; /* Adicionado para centralizar os elementos do submenu */
}

.dropdown_menu ul.dropdown li a {
  font-size: 15px; /* Adicionado para centralizar os elementos do submenu */
}

.dropdown_menu ul.dropdown li a:hover {
  color: var(
    --white-color
  ); /* Adicionado para centralizar os elementos do submenu */
}

.dropdown_menu .btn {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--white-color);
}

.dropdown {
  display: none;
}

.dropdown.is-active {
  display: block;
}

.secondary-button {
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: var(--buttons);
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
  color: var(--main-color);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  text-decoration: none;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

/* .secondary-button:hover {
    background-color: var(--orange2-color);
  }*/


/*--------------Background-----------------------------*/

.background {
  /*background-image: url("https://images.unsplash.com/photo-1607214368910-d7b795724be4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  color: #242424;
  height: 250px;
  margin-top: 55px;
  max-width: 2000px;

  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  place-content: center;
  position: relative;
}

.background::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
}

/*--------------Navbar hrefs---------------------------*/

ol {
  list-style-type: none; /* Remove os marcadores da lista */
  margin: 50px 100px 50px 100px;
  padding: 0;
}

.list {
  display: inline-block; /* Exibe os itens da lista em linha */
}

.items {
  display: flex;
  align-items: center;
  color: var(--index-color);
  overflow: hidden;
}

.items a {
  color: var(--index-color);
}

.items-current {
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* Estilizando o separador '/' */
li:not(:last-child) .separator {
  margin-right: 30px;
  margin-left: 30px;
}

/* Estilizando o link atual */
.items-current span[aria-current="page"] {
    font-weight: bold;
    color: #232323;
}



/*------------------Tipos Perturbações Mentais------------------*/

.grupo-perturbacoes {
  margin-right: 20px;
}

.grupo-perturbacoes-card {
  /*display: flex;*/
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 70px;
}

.grupo-perturbacoes-card-body {
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 5px solid var(--main-color);
}

.grupo-perturbacoes-card-body p {
  text-align: justify;
  line-height: 2;
  color: var(--card-text-color);
}

/*---*/

.fontes {
  width: 100%;
  background-color: var(--background);
  cursor: default;
  flex: 1;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
  padding-right: 100px;
}

.fontes-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
}

.fontes-content h3 {
  color: var(--fontes-color);
  font-size: 1.3rem;
  margin-left: 10px;
  cursor: pointer;
}

.fontes-content2 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.fontes-content2 p {
  color: var(--grey2-color);
  padding: 20px 0px 0px 25px;
  line-height: 1.6;
  font-size: 1.1rem;
}

.fontes.active .fontes-content2 {
  max-height: 300px;
}

.fontes.active svg {
  transform: rotate(180deg);
}

svg {
  /*transition: transform 0.5s ease-in;*/
  fill: var(--fontes-color);
  cursor: pointer;
}

.svg-down {
  display: none; /* Inicialmente, esconde o SVG para baixo */
}

.fontes.active .svg-up {
  display: none; /* Esconde o SVG para cima quando o conteúdo está ativo */
}

.fontes.active .svg-down {
  display: inline-block; /* Mostra o SVG para baixo quando o conteúdo está ativo */
}

/*---*/

.card {
  border: none;
  /*margin-bottom: 50px;*/
  width: 100%; /* Adicionando largura de 100% */
}

.card-body {
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%; /* Adicionando largura de 100% */
  max-width: none; /* Removendo a limitação de largura máxima */
  border-left: 5px solid orange;
}

.card-body p {
  /*margin-top: 15px;
  margin-left: 15px;*/
  text-align: justify;
  line-height: 2;
}

.card2-container {
  /*display: grid;*/
  /*grid-template-columns: repeat(3, minmax(230px, 1fr));*/ /*auto-fit*/
  /*gap: 30px;*/
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.card2 {
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  width: 40%;
}

.card2 img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.card2 h1 {
  text-align: left;
  margin-top: 20px;
  color: var(--grey2-color);
  text-transform: uppercase;
  font-size: 27px;
}

.card2 p {
  text-align: left;
  color: var(--grey2-color);
}

.card4-container {
  display: grid;
  grid-template-rows: repeat(3, minmax(230px, 1fr)); /*auto-fit*/
  max-width: 40%;
}

.card4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*margin-left: 50px;
  justify-content: center;
  width: 100%;*/
  max-width: 85vw;
}

.card4 img {
  /*width: 100%;*/
  height: 200px;
  object-fit: cover;
}

.card4-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.card4-content h3 {
  font-size: 18px;
  color: var(--main-color);
  text-transform: uppercase;
}

.card4-content h2 {
  font-size: 15px;
  color: var(--orange3-color);
  text-transform: uppercase;
}

.card4-content h1 {
  text-align: left;
  color: var(--grey2-color);
  font-size: 24px;
  /*margin-bottom: 50px;*/
}

.card4-content p {
  text-align: left;
}


/*-----------------Botões--------------------*/

.buttons {
  margin-left: 90px;
}

.btn2 {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 8px 40px;
  border: none;
  outline: none;
  border-radius: 9px 9px 9px 0px;
  font-size: 0.8rem;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  /*margin: 50px 0 30px 100px;*/
}

.btn2:hover {
  scale: 1.05;
  background-color: var(--orange3-color);
}






/*----------------FOOTER------------------------*/

footer {
  width: 100%;
  /*position: absolute;*/
  background-color: var(--main-color);
  color: var(--white-color);
  margin-top: 100px;
  padding: 30px 0 30px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer-row {
  width: 90%;
  margin: auto;
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col {
  /*flex-basis: 10%;*/
  padding: 10px;
}

.footer-col h1 {
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 20px;
}

.footer-col p {
  font-size: 20px;
}

.footer-col h3 {
  font-size: 22px;
  width: fit-content;
  margin-bottom: 10px;
  position: relative;
}

.footer-col ul li {
  list-style: none;
  margin-bottom: 12px;
}

.footer-col ul a {
  font-size: 18px;
  text-decoration: none;
  color: var(--white-color);
}

.footer-col ul:hover {
  text-decoration: underline;
}

.footer-col ul li ul li {
  color: var(--footer-text);
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid var(--white2-color);
  margin: 20px auto;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
}

.footer-links .copyright {
  width: 90%;
  margin: 20px auto;
}

.footer-links-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  width: 95%;
}

.footer-links-2 a {
  font-size: 18px;
  color: var(--white-color);
}

.vertical-hr {
  border-left: 2px solid var(--white-color);
  height: 25px;
  margin: 6px 0;
}

/*Scroll to top*/

#scrollToTopBtn {
  display: none; /* Ocultar inicialmente */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollToTopBtn:hover {
  background-color: var(--orange3-color);
}

.change {
  width: 60px;
  height: 20px;
  position: relative;
  display: block;
  background: var(--main-color);
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
  animation: bounceIn 5s;
}

.change:active::after {
  width: 30px;
}
.change::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 2px;
  background: linear-gradient(100deg, orange, var(--white-color));
  border-radius: 100px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}
input:checked + .change {
  background: #ad9883;
}

input:checked + .change::after {
  left: 60px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, rgb(110, 110, 110), var(--white-color));
}

.dropdown-trigger-f .fas.fa-globe {
  margin-right: 10px;
}

.dropdown-f {
  display: none;
  position: absolute;
  background-color: var(--white-color);
  border: 1px solid var(--white2-color);
  padding: 5px;
  margin-left: 20px;
}

.dropdown-f li a {
  color: black;
  font-size: 15px;
}

.dropdown-trigger-f:hover .dropdown-f {
  display: block;
}


/*---------------ANIMATIONS SCROLL-------------------------*/

.subheading,
.card-body,
.card2-container {
  animation: fadeIn 1s linear;
}

/*---------------ANIMATIONS-------------------------*/

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.05);
  }
  70% {
    transform: scale(1.12);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*---------------MEDIA QUERIES-------------------------*/

/* Responsive */

/* Tela igual ou inferior a 576px */
@media screen and (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* Tela igual ou inferior a 600px */
@media screen and (max-width: 600px) {
}

/* Tela igual ou inferior a 768 */
@media screen and (max-width: 768px) {

  .background {
    height: 130px;
    font-size: 15px;
  }

  ol {
    margin-left: 15px;
    margin-right: 10px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .grupo-perturbacoes {
    margin-right: 0;
  }

  /*.card4-container {
    grid-template-columns: repeat(1, 1fr);
  }*/

  .grupo-perturbacoes-card {
    padding-left: 0;
    padding-right: 0;
  }

  .grupo-perturbacoes-card-body {
    padding: 10px;
  }

  .card-body {
    padding: 10px; /* Reduz o preenchimento */
    /*margin-left: 10px;*/
  }

  .card2-container {
    /*grid-template-columns: repeat(2, 1fr);*/
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
  }

  .card2 img {
    /*width: 150px;
    height: 150px;
    width: 200px;*/
    height: 200px;
  }

  .card2 h1 {
    font-size: 20px;
  }

  .card2 p {
    font-size: 17px;
  }

  .card2-content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
  }

  .secondary-button {
    margin-top: 0;
  }

  .card4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
  }

  .card4-container {
    max-width: max-content;
  }

  .card4-content {
    margin-left: 0;
  }

  .card4-content h1 {
    font-size: 25px;
    margin-bottom: 0;
  }

  .card4 h3 {
    margin-top: 20px;
  }

  .card4 img {
    width: 100%;
    margin-top: 30px;
  }


  .fontes {
    padding: 0;
    margin-left: 15px;
    margin-right: 10px;
  }

  .fontes-content2 p {
    padding: 10px 0px 0px 0px;
  }

  /*Footer*/
  .footer-col {
    flex-basis: 100%;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-end;
    width: auto;
  }

  .footer-links-2 {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .footer-row {
    flex-wrap: wrap;
  }

  .vertical-hr {
    display: none;
  }
}

/* Tela igual ou inferior a 992 */
@media screen and (max-width: 992px) {
  .navbar .links,
  .navbar .btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .dropdown-container {
    display: none;
  }
}

/* Tela igual ou superior a 1360 */
@media screen and (min-width: 1360px) {
  

}

/* Tela igual ou superior a 1600 */
@media screen and (min-width: 1600px) {

  .card2 h1 {
    font-size: 27px;
  }
}